{% extends 'base/base.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="auth-card">
                <div class="auth-header">
                    <h2>Change Password</h2>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.old_password.label_tag }}
                        {{ form.old_password }}
                    </div>
                    <div class="mb-3">
                        {{ form.new_password1.label_tag }}
                        {{ form.new_password1 }}
                    </div>
                    <div class="mb-3">
                        {{ form.new_password2.label_tag }}
                        {{ form.new_password2 }}
                    </div>
                    <button type="submit" class="btn btn-primary">Update Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
